@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: auto !important; /* Adjusted from 100% to auto */
  min-height: 100%; /* Ensures html takes at least the viewport height */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  border-top-left-radius: 30px;
  min-height: 100%; /* Ensures body takes at least the viewport height */
  /* Removed the explicit height setting */
}
