.student-card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px); // Columns are exactly 200px wide
    grid-auto-rows: 400px; // Each row height is 200px
    gap: 1rem; // Adjust the gap to your preference
    background-color: #F5F5F5;
    padding-bottom: 1rem;
}